{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>QUESTO</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">QUESTO</div>
        <a href="#">Homepage</a>
        <a href="#nos">Sobre Nós</a>
        <a href="#funcionalidades">Funcionalidades</a>
        <a href="#desenvolvedores">Desenvolvedores</a>
        <a href="#plataforma">Plataforma</a>
        <div class="navbar-right">
            <a href="{%url 'account_signup'%}" class="button">Comece Agora</a>
        </div>
    </div>
    
    <div class="container" style="padding-top: 6%">
        <div class="text-content">
            <h1>Seu vestibular, nossa missão. Questão, sempre ao seu lado!</h1>
            <p>Com Questo, você está preparado para enfrentar qualquer desafio do vestibular e conquistar o sucesso.
                Estamos
                aqui para guiá-lo em cada etapa do caminho.</p>

            <br>
            <a href = "{% url 'account_signup'%}"class="btn-cadastrar">Cadastre-se</a>
            <a href= "{% url 'account_login'%}" class="btn-login">Login</a>
        </div>
        <div class="image-content">
            <img src="{%static 'img/home.svg'%}" alt="mulher estudando">
        </div>
    </div>
    <section class="container-02">
        <div class="div-texto-primeiro" id= "nos">
            <h2>Sobre Nós</h2>
        </div>
        <div class="div-texto-segundo">
            <h2>Utilize o QUESTO</h2>
        </div>
        <div class="div-terceira">
            <div class="coluna">
                <i class="icon">Ícone 1</i>
                <p>Frase 1</p>
            </div>
            <div class="coluna">
                <i class="icon">Ícone 2</i>
                <p>Frase 2</p>
            </div>
            <div class="coluna">
                <i class="icon">Ícone 3</i>
                <p>Frase 3</p>
            </div>
        </div>
    </section>
    <section class="container-02">
        <div class="div-texto-principal" id ="funcionalidades">
            <h2>Funcionalidades</h2>
        </div>
        <div class="div-subtexto">
            <h2>Explore as funcionalidades do Questo e alcance o sucesso no vestibular!</h2>
        </div>
        <div class="div-terceira">
            <div class="coluna-dois">
                <i class="icon-dois">Ícone 1</i>
                <p>Frase 1</p>
            </div>
            <div class="coluna-dois">
                <i class="icon-dois">Ícone 2</i>
                <p>Frase 2</p>
            </div>
            <div class="coluna-dois">
                <i class="icon-dois">Ícone 3</i>
                <p>Frase 3</p>
            </div>
            <div class="coluna-dois">
                <i class="icon-dois">Ícone 4</i>
                <p>Frase 4</p>
            </div>
        </div>
    </section>

 
    <div class="carousel">
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                    <img src="{%static 'img/bozo.webp'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "O que achamos do projeto Questo? Foi desafiador, mas o resultado final está incrível. Mal podemos esperar
                    para
                    ver a reação do público!"
                </div>
                
            </div>
        </div>
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                    <img src="{%static 'img/lula.jpg'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "pirilim pirilim"
                </div>
                
            </div>
        </div>
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                     <img src="{%static 'img/lula.jpg'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "alacazam alacazam"
                </div>
                
            </div>
        </div>
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                     <img src="{%static 'img/lucas.jpeg'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "tesão"
                </div>
                
            </div>
        </div>
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                     <img src="{%static 'img/chico.jpeg'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "vou dar o cu"
                </div>
                
            </div>
        </div>
        <div class="slide">
            <div class="texto-centralizado" id="desenvolvedores">
                <h2>Curioso sobre o que nossa equipe pensa do projeto da Questo?<br>Venha dar uma espiadinha!</h2>
            </div>
            <div class="container-centralizado">
                <div class="imagem">
                     <img src="{%static 'img/japa.jpeg'%}" alt="mulher estudando">
                </div>
                <div class="texto-abaixo-imagem">Questo<br>Equipe de Desenvolvimento</div>
                <div class="texto-principal">
                    "vou dar o cu"
                </div>
                
            </div>
        </div>
            <button class="prev" onclick="prevSlide()"><img src="{%static 'img/angulo-esquerdo.png'%}" alt="mulher estudando"></button>
            <button class="next" onclick="nextSlide()"><img src="{%static 'img/angulo-direito.png'%}" alt="mulher estudando"></button>
    </div>
    

    <div class="container-final">
        <div class="texto-centralizado" id = "plataforma">
            <h2>O que faz o <u>Questo</u> ser<br>sua melhor escolha?</h2>
        </div>
        <div class="container-duas-colunas">
            <div class="coluna-imagem">
                <img src="imagem.jpg" alt="Qualquer img">
            </div>
            <div class="coluna-texto">
                <div class="linha">
                    <div class="icone">Ícone 1</div>
                    <div class="texto">Texto 1</div>
                </div>
                <div class="linha">
                    <div class="icone">Ícone 2</div>
                    <div class="texto">Texto 2</div>
                </div>
                <div class="linha">
                    <div class="icone">Ícone 3</div>
                    <div class="texto">Texto 3</div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="coluna coluna-40">
            <h2>QUESTO</h2>
            <p>Texto 2</p>
        </div>
        <div class="coluna coluna-20">
            <p>Our Services</p>
        </div>
        <div class="coluna coluna-20">
            <p>Explore More</p>
        </div>
        <div class="coluna coluna-20">
            <p>Contact Us</p>
        </div>
        <div class="linha-footer"></div>
        <div class="linha-texto">
            <p>Texto à esquerda</p>
        </div>
    </footer>
</body>


<script>
    const slides = document.querySelectorAll('.slide');
let currentSlide = 0;

function showSlide(index) {
    slides.forEach((slide, i) => {
        if (i === index) {
            slide.style.display = 'block';
        } else {
            slide.style.display = 'none';
        }
    });
}

function nextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    showSlide(currentSlide);
}

function prevSlide() {
    currentSlide = (currentSlide - 1 + slides.length) % slides.length;
    showSlide(currentSlide);
}

showSlide(currentSlide); // Mostrar o primeiro slide inicialmente

</script>

</html>